<template>
  <section>
    <h5>Contacts</h5>
    <table class="table table-light m-0">
      <tbody>
        <tr class="table-light">
          <td scope="col row" class="table-light">Eugene Korotkov</td>
          <td scope="col" class="table-light">genekorotkov@gmail.com</td>
          <td scope="col" class="table-light">Method idea</td>
        </tr>
        <tr class="table-light">
          <td scope="row" class="table-light">Dmitrii Kostenko</td>
          <td class="table-light">dk0stenko@yandex.ru</td>
          <td class="table-light">Method implementation; website backend and frontend</td>
        </tr>
        <tr class="table-light">
          <td scope="row" class="table-light" colspan="3">Institution: <a href="https://www.fbras.ru/en/" target="_blank">Federal Research Centre “Fundamentals of Biotechnology” of the Russian Academy of Sciences</a></td>
        </tr>
      </tbody>
    </table>
  </section>
</template>
