<template>
<nav class="navbar navbar-expand-lg navbar-transparent bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand fs-4" href="#">MAHDS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <nav-tab
          v-for="navTab in navTabs"
          :navTab="navTab"
          :key="navTab.name"
        />
      </div>
    </div>
  </div>
</nav>
</template>

<script>
import NavTab from '@/components/NavTab'
export default {
  components: { NavTab },
  props: {
    navTabs: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
