<template>
  <main class="aboutPage">
    <div class="row">
      <section class="col-12 pt-3 ps-5">
        <h3>About the MAHDS method</h3>
        <p class="fw-normal text-wrap fs-5">
          Comprehensive information about the method has been presented in the following articles:<br>
          <a href="https://doi.org/10.3390/genes12020135" target="_blank">https://doi.org/10.3390/genes12020135</a>,<br>
          <a href="https://doi.org/10.3390/ijms23073764" target="_blank">https://doi.org/10.3390/ijms23073764</a>.
        </p>
      </section>
    </div>
    <div class="row">
      <section class="col-12 pt-5 ps-5">
        <h3>About the MAHDS tool</h3>
        <p class="fw-normal text-wrap fs-5">
          The website allows you:<br>
          - to perform MSA for the given DNA/RNA or protein sequences;<br>
          - to assess statistical significance of any arbitrary MSA.<br><br>
          <i>Note: the sequence type "Protein (reduced alphabet)" considers 20 amino acids as merged into 5 classes according to their chemical properties.</i><br><br>
          <i>Note: any user is allowed to submit no more then 5 simultaneous tasks. Another task can be submitted as soon as one of the previous tasks has been finished.</i><br><br>
          Parameters description:<br>
          - <b>Correlations:</b> Forces MAHDS to work with pairs of characters instead of single characters. Usually it is a good idea to turn on this parameter for DNA sequences and to turn it off for proteins.<br>
          - <b>Hard significance assessment:</b> Forces MAHDS to optimize PWM when aligning shuffled sequences for statistical significance assessment. All the results in out articles were obtained with this parameter turned on.<br>
          - <b>Alignment type:</b> Global/local/best intersection. Best intersection mode does not apply penalties to gaps at the edges of sequences.<br>
          - <b>Gap opening cost:</b> First gap in a row penalty in dynamic programming pairwise alignment algorithm.<br>
          - <b>Gap continuation cost:</b> Every next gap in a row penalty in dynamic programming pairwise alignment algorithm.<br>
          - <b>R multiplier:</b> Scaling parameter for PWM elements (it is better to keep it constant, varying gap cost and expected value if needed).<br>
          - <b>PWM element expected value:</b> Mathematical expectation of PWM element considering all elements as a sample.<br>
          - <b>Randomized sets for assessment:</b> Number of sets of shuffled sequences used for statistical significance assessment. <i>Precision/speed tradeoff</i>.<br>
          - <b>Pivot artificial sequence length:</b> Base length of artificial sequence. "auto" sets it equal to mean input sequence length.<br>
          - <b>Dynamic programming width:</b> Number of elements around diagonals of dynamic programming matrix to be calculated. +-N elements if N is integer number OR +-(N*L) if N is floating point number (here L is artificial sequence length). <i>Precision/speed tradeoff</i>.<br>
          - <b>Artificial sequences length values:</b> Which artificial sequence length values should be checked. Let L be <b>Pivot artificial sequence length</b>. Then we check values in the segment [L+Lower_bound, L+Lower_bound+Step, ..., L+Upper_bound]. <i>Precision/speed tradeoff</i>.<br>
          <i>Note: "Pivot artificial sequence length" and "Artificial sequences length values" parameters are not used for assessment tasks.</i>
        </p>
      </section>
    </div>
  </main>
</template>

<script>

</script>
