<template>
  <main class="mainPage">
    <div class="row d-flex justify-content-between">
      <div class="col-7 pt-2 ps-5">
        <!-- input form -->
        <div class="row w-75 d-flex justify-content-between">
          <form-base @submit.prevent="() => undefined">
            <div class="form-outline mb-4">
              <label class="form-label fs-4 fw-normal" for="mainName">Name (optional)</label>
              <input type="text" id="mainName" class="form-control" placeholder="name" v-bind:maxlength="this.maxNameLength" v-model.trim="name"/>
              <div class="alert alert-danger fs-5 fw-normal text-wrap mt-2" role="alert" v-if="nameInvalid !== undefined">{{ nameInvalid }}</div>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label fs-4 fw-normal" for="mainSeqKind">Sequences type</label>
              <select id="mainSeqKind" class="form-select" required v-model.trim="seqKind">
                <option selected value="rdna">DNA/RNA</option>
                <option value="protein">Protein</option>
                <option value="proteinReduced">Protein (reduced alphabet)</option>
              </select>
              <!-- <div class="alert alert-danger fs-5 fw-normal text-wrap mt-2" role="alert" v-if="seqKindInvalid !== undefined">{{ seqKindInvalid }}</div> -->
            </div>
            <div class="form-outline mb-4">
              <label class="form-label fs-4 fw-normal" for="mainFile">FASTA sequences</label>
              <input type="file" id="mainFile" class="form-control" required ref="file"/>
              <div class="alert alert-danger fs-5 fw-normal text-wrap mt-2" role="alert" v-if="fileInvalid !== undefined">{{ fileInvalid }}</div>
            </div>
            <div class="row text-center mt-4">
              <div class="col">
                <button-base type="submit" class="btn btn-lg btn-primary btn-block mb-4" id="alignButton" :disabled="isDisabled" @click="submitForm($event, 'alignment')">Align sequences</button-base>
              </div>
              <div class="col">
                <button-base type="submit" class="btn btn-lg btn-primary btn-block mb-4" id="assessButton" :disabled="isDisabled" @click="submitForm($event, 'assessment')">Assess alignment</button-base>
              </div>
            </div>
            <div class="row alert alert-success text-wrap fs-4" role="alert" v-if="lastTaskId !== undefined">
              Task successfully submitted!<br>Result will be available on the<router-link class="alert-link fs-4" :to="'/result/page/'+lastTaskId.toString()">link</router-link> for {{lastTaskStoreTime.toString()}} days after it will be obtained
            </div>
          </form-base>
        </div>
        <!-- tasks/results table -->
        <div class="row mt-5">
          <div class="col-12 d-flex pt-2 ps-4">
            <section class="tasks">
              <h5><button-base @click="loadTasks()"><img src="@/assets/arrow-repeat.svg" alt="refresh" width="24" height="24"></button-base> Tasks:</h5>
              <div class="alert alert-secondary fw-normal text-wrap fs-5 mt-3" id="tasks" role="alert" v-if="tasks === undefined || tasks.length === 0">
                There are no tasks in the queue
              </div>
              <table class="table table-light" id="tasks" v-else>
                <thead>
                  <tr class="table-light">
                    <th scope="col" class="table-light">Name</th>
                    <th scope="col" class="table-light">Task kind</th>
                    <th scope="col" class="table-light">Date</th>
                    <th scope="col" class="table-light">Status</th>
                    <th scope="col" class="table-light">Link</th>
                    <th scope="col" class="table-light"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="table-light"
                    v-for="task in tasks"
                    :task="task"
                    :key="task.id"
                  >
                    <td scope="row" class="table-light">{{task.name}}</td>
                    <td class="table-light">{{task.kind}}</td>
                    <td class="table-light">{{task.date}}</td>
                    <td class="table-light">{{task.status}}</td>
                    <td class="table-light"><router-link :to="'/result/page/'+task.id.toString()">/result/page/{{task.id}}</router-link></td>
                    <td class="table-light"><button-base @click="deleteTask(task.id)"><img src="@/assets/x-circle.svg" alt="refresh"></button-base></td>
                  </tr>
                </tbody>
              </table>
            </section>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 d-flex pt-2 ps-4">
            <section class="results">
              <h5><button-base @click="loadResults()"><img src="@/assets/arrow-repeat.svg" alt="refresh" width="24" height="24"></button-base> Results:</h5>
              <div class="alert alert-secondary fw-normal text-wrap fs-5 mt-3" id="results" role="alert" v-if="results === undefined || results.length === 0">
                There are no results in the storage
              </div>
              <table class="table table-light" id="results" v-else>
                <thead>
                  <tr class="table-light">
                    <th scope="col" class="table-light">Name</th>
                    <th scope="col" class="table-light">Date</th>
                    <th scope="col" class="table-light">Status</th>
                    <th scope="col" class="table-light">Link</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="table-light"
                    v-for="result in results"
                    :result="result"
                    :key="result.id"
                  >
                    <td scope="row" class="table-light">{{result.name}}</td>
                    <td class="table-light">{{result.date}}</td>
                    <td class="table-light">{{result.status}}</td>
                    <td class="table-light"><router-link :to="'/result/page/'+result.id.toString()">/result/page/{{result.id}}</router-link></td>
                  </tr>
                </tbody>
              </table>
            </section>
          </div>
        </div>
      </div>
      <!-- parameters -->
      <div class="col-5 pt-2 ps-2">
        <form-base @submit.prevent="() => undefined">
          <p class="mb-3 fs-3"><b>Parameters</b></p>
          <div class="form-check form-switch mb-2">
            <input class="form-check-input" type="checkbox" role="switch" id="mainConsiderCorrelations" v-model="considerCorrelations">
            <label class="form-check-label" for="mainConsiderCorrelations">Correlations</label>
          </div>
          <div class="form-check form-switch mb-2">
            <input class="form-check-input" type="checkbox" role="switch" id="mainHardSignificanceAssessment" checked v-model="hardSignificanceAssessment">
            <label class="form-check-label" for="mainHardSignificanceAssessment">Hard significance assessment</label>
          </div>
          <div class="form-outline mb-2">
            <label class="form-label fs-4 fw-normal" for="mainAlignmentType">Alignment type</label>
            <select id="mainAlignmentType" class="form-select" required v-model.trim="alignmentType">
              <option selected value="global">Global</option>
              <option value="local">Local</option>
              <option value="mixed">Best intersection</option>
            </select>
          </div>
          <div class="form-outline mb-2">
            <label class="form-label fs-4 fw-normal" for="mainConstD">Gap opening cost</label>
            <input type="number" id="mainConstD" class="form-control" v-bind:min="minConstD" v-model.trim="constD"/>
            <div class="alert alert-danger fs-5 fw-normal text-wrap mt-2" role="alert" v-if="constDInvalid !== undefined">{{ constDInvalid }}</div>
          </div>
          <div class="form-outline mb-2">
            <label class="form-label fs-4 fw-normal" for="mainConstE">Gap continuation cost</label>
            <input type="number" id="mainConstE" class="form-control" v-bind:min="minConstE" v-model.trim="constE"/>
            <div class="alert alert-danger fs-5 fw-normal text-wrap mt-2" role="alert" v-if="constEInvalid !== undefined">{{ constEInvalid }}</div>
          </div>
          <div class="form-outline mb-2">
            <label class="form-label fs-4 fw-normal" for="mainMultiplierR">R multiplier</label>
            <input type="number" id="mainMultiplierR" class="form-control" v-bind:min="minMultiplierR" v-model.trim="multiplierR"/>
            <div class="alert alert-danger fs-5 fw-normal text-wrap mt-2" role="alert" v-if="multiplierRInvalid !== undefined">{{ multiplierRInvalid }}</div>
          </div>
          <div class="form-outline mb-2">
            <label class="form-label fs-4 fw-normal" for="mainConstKd">PWM element expected value</label>
            <input type="number" id="mainConstKd" class="form-control" v-model.trim="constKd"/>
            <div class="alert alert-danger fs-5 fw-normal text-wrap mt-2" role="alert" v-if="constKdInvalid !== undefined">{{ constKdInvalid }}</div>
          </div>
          <div class="form-outline mb-2">
            <label class="form-label fs-4 fw-normal" for="mainRandomSeqSetsNumber">Randomized sets for assessment</label>
            <input type="number" id="mainRandomSeqSetsNumber" class="form-control" v-bind:min="minRandomSeqSetsNumber" v-bind:max="maxRandomSeqSetsNumber" v-model.trim="randomSeqSetsNumber"/>
            <div class="alert alert-danger fs-5 fw-normal text-wrap mt-2" role="alert" v-if="randomSeqSetsNumberInvalid !== undefined">{{ randomSeqSetsNumberInvalid }}</div>
          </div>
          <div class="form-outline mb-2">
            <label class="form-label fs-4 fw-normal" for="mainMeanArtificialLength">Pivot artificial sequence length</label>
            <input type="text" id="mainMeanArtificialLength" class="form-control" placeholder="auto" v-model.number.trim="meanArtificialLength"/>
            <div class="alert alert-danger fs-5 fw-normal text-wrap mt-2" role="alert" v-if="meanArtificialLengthInvalid !== undefined">{{ meanArtificialLengthInvalid }}</div>
          </div>
          <div class="form-outline mb-2">
            <label class="form-label fs-4 fw-normal" for="mainDpMatrixWidth">Dynamic programming width</label>
            <input type="number" id="mainDpMatrixWidth" class="form-control" v-bind:min="0" v-model.trim="dpMatrixWidth"/>
            <div class="alert alert-danger fs-5 fw-normal text-wrap mt-2" role="alert" v-if="dpMatrixWidthInvalid !== undefined">{{ dpMatrixWidthInvalid }}</div>
          </div>
          <label class="form-label fs-4 fw-normal" for="mainArtificialLengthsRange">Artificial sequences length values</label>
          <div id="mainArtificialLengthsRange" class="row">
            <div class="col form-outline mb-2">
              <label class="form-label fs-5 fw-normal" for="mainLowerBound">Lower bound</label>
              <input type="number" id="mainLowerBound" class="form-control" v-model.trim="artificialLengthsRange.lowerBound"/>
              <div class="alert alert-danger fs-6 fw-normal text-wrap mt-2" role="alert" v-if="lowerBoundInvalid !== undefined">{{ lowerBoundInvalid }}</div>
            </div>
            <div class="col form-outline mb-2">
              <label class="form-label fs-5 fw-normal" for="mainUpperBound">Upper bound</label>
              <input type="number" id="mainUpperBound" class="form-control" v-model.trim="artificialLengthsRange.upperBound"/>
              <div class="alert alert-danger fs-6 fw-normal text-wrap mt-2" role="alert" v-if="upperBoundInvalid !== undefined">{{ upperBoundInvalid }}</div>
            </div>
            <div class="col form-outline mb-2">
              <label class="form-label fs-5 fw-normal" for="mainStep">Step</label>
              <input type="number" id="mainStep" class="form-control" v-bind:min="minStep" v-model.trim="artificialLengthsRange.step"/>
              <div class="alert alert-danger fs-6 fw-normal text-wrap mt-2" role="alert" v-if="stepInvalid !== undefined">{{ stepInvalid }}</div>
            </div>
          </div>
        </form-base>
      </div>
    </div>
  </main>
</template>

<script>
import ResponseMixin from '@/mixins/ResponseMixin'
import FormBase from '@/components/FormBase.vue'
import ButtonBase from '@/components/ButtonBase.vue'
export default {
  name: 'RegisterView',
  mixins: [ResponseMixin],
  components: { FormBase, ButtonBase },
  data () {
    return {
      maxNameLength: 128,
      maxFileSize: 1024 * 1024 * 1024, // 1Gb
      minConstD: 0.0,
      minConstE: 0.0,
      minMultiplierR: 0.0,
      minIntDpMatrixWidth: 1,
      minFloatDpMatrixWidth: 0.01,
      minRandomSeqSetsNumber: 10,
      maxRandomSeqSetsNumber: 300,
      minMeanArtificialLength: 2,
      maxMeanArtificialLength: 100000,
      minFloatBound: 0.0,
      maxFloatBound: 2.0,
      maxIntBound: 100000,
      minStep: 1,

      name: undefined,
      seqKind: 'rdna',
      considerCorrelations: false,
      hardSignificanceAssessment: true,
      alignmentType: 'global',
      constD: 40.0,
      constE: 1.0,
      multiplierR: 5.0,
      constKd: -1.0,
      dpMatrixWidth: 0.15,
      randomSeqSetsNumber: 100,
      meanArtificialLength: undefined,
      artificialLengthsRange: {
        lowerBound: -10,
        upperBound: 10,
        step: 1
      },

      nameInvalid: undefined, // undefined or str (error message)
      // seqKindInvalid: undefined, // undefined or str (error message)
      fileInvalid: undefined, // undefined or str (error message)
      constDInvalid: undefined,
      constEInvalid: undefined,
      multiplierRInvalid: undefined,
      constKdInvalid: undefined,
      dpMatrixWidthInvalid: undefined,
      randomSeqSetsNumberInvalid: undefined,
      meanArtificialLengthInvalid: undefined,
      lowerBoundInvalid: undefined,
      upperBoundInvalid: undefined,
      stepInvalid: undefined,

      isDisabled: false,

      tasks: undefined,
      results: undefined,

      lastTaskId: undefined,
      lastTaskStoreTime: undefined
    }
  },
  methods: {
    validateName (name) {
      if (name) {
        if (name.length <= this.maxNameLength) {
          return undefined
        } else {
          return 'Name must contain ≤ ' + this.maxNameLength.toString() + ' characters'
        }
      } else {
        return undefined
      }
    },

    // validateSeqKind (seqKind) {
    //   if ((typeof drl === 'string') &&  {
    //     return undefined
    //   } else {
    //     return 'seqKind must be
    //   }
    // },

    validateFile (file) {
      if (file === undefined) {
        return 'Sequence file is required'
      } else if (file.size <= this.maxFileSize) {
        return undefined
      } else {
        return 'Sequence file size must be ≤ ' + this.maxFileSize + ' bytes'
      }
    },

    validateConstD (constD) {
      if (constD === undefined) {
        return undefined
      }
      if (typeof constD === 'number') {
        if (constD >= this.minConstD) {
          return undefined
        } else {
          return 'Gap opening cost must be ≥ ' + this.minConstD
        }
      } else {
        return 'Gap opening cost must be a number'
      }
    },

    validateConstE (constE) {
      if (constE === undefined) {
        return undefined
      }
      if (typeof constE === 'number') {
        if (constE >= this.minConstE) {
          return undefined
        } else {
          return 'Gap continuation cost must be ≥ ' + this.minConstE
        }
      } else {
        return 'Gap continuation cost must be a number'
      }
    },

    validateMultiplierR (multiplierR) {
      if (multiplierR === undefined) {
        return undefined
      }
      if (typeof multiplierR === 'number') {
        if (multiplierR > this.minMultiplierR) {
          return undefined
        } else {
          return 'R multiplier must be > ' + this.minMultiplierR
        }
      } else {
        return 'R multiplier must be a number'
      }
    },

    validateConstKd (constKd, multiplierR) {
      if (constKd === undefined) {
        return undefined
      }
      if (typeof constKd === 'number') {
        if (Math.abs(constKd) < Math.sqrt(multiplierR)) {
          return undefined
        } else {
          return 'PWM element expected absolute value must be < square root of R multiplier'
        }
      } else {
        return 'PWM element expected value must be a number'
      }
    },

    validateDpMatrixWidth (dpMatrixWidth) {
      if (dpMatrixWidth === undefined) {
        return undefined
      }
      if (typeof dpMatrixWidth === 'number') {
        if (Number.isInteger(dpMatrixWidth)) {
          if (dpMatrixWidth >= this.minIntDpMatrixWidth) {
            return undefined
          } else {
            return 'Dynamic programming width integer value must be ≥ ' + this.minIntDpMatrixWidth
          }
        } else {
          if (dpMatrixWidth >= this.minFloatDpMatrixWidth) {
            return undefined
          } else {
            return 'Dynamic programming width floating point value must be ≥ ' + this.minFloatDpMatrixWidth
          }
        }
      } else {
        return 'Dynamic programming width must be a number'
      }
    },

    validateRandomSeqSetsNumber (randomSeqSetsNumber) {
      if (randomSeqSetsNumber === undefined) {
        return undefined
      }
      if (typeof randomSeqSetsNumber === 'number') {
        if (Number.isInteger(randomSeqSetsNumber)) {
          if ((this.minRandomSeqSetsNumber <= randomSeqSetsNumber) && (randomSeqSetsNumber <= this.maxRandomSeqSetsNumber)) {
            return undefined
          } else {
            return 'Randomized sets for assessment must belong to [' + this.minRandomSeqSetsNumber + ', ' + this.maxRandomSeqSetsNumber + ']'
          }
        } else {
          return 'Randomized sets for assessment must be an integer'
        }
      } else {
        return 'Randomized sets for assessment must be an integer'
      }
    },

    validateMeanArtificialLength (meanArtificialLength) {
      if ((meanArtificialLength === undefined) || (meanArtificialLength === 'auto')) {
        return undefined
      }
      if (typeof meanArtificialLength === 'number') {
        if (Number.isInteger(meanArtificialLength)) {
          if ((this.minMeanArtificialLength <= meanArtificialLength) && (meanArtificialLength <= this.maxMeanArtificialLength)) {
            return undefined
          } else {
            return 'Pivot artificial sequence length must belong to [' + this.minMeanArtificialLength + ', ' + this.maxMeanArtificialLength + ']'
          }
        } else {
          return 'Pivot artificial sequence length must be an integer'
        }
      } else {
        return 'Pivot artificial sequence length must be an integer'
      }
    },

    validateLowerBound (lowerBound) {
      if (lowerBound === undefined) {
        return undefined
      }
      if (typeof lowerBound === 'number') {
        if (Number.isInteger(lowerBound)) {
          if (lowerBound <= this.maxIntBound) {
            return undefined
          } else {
            return 'Lower bound integer value must be ≤ ' + this.maxIntBound
          }
        } else {
          if ((this.minFloatBound <= lowerBound) && (lowerBound <= this.maxFloatBound)) {
            return undefined
          } else {
            return 'Lower bound floating point value must belong to [' + this.minFloatBound + ', ' + this.maxFloatBound + ']'
          }
        }
      } else {
        return 'Lower bound must be a number'
      }
    },

    validateUpperBound (upperBound) {
      if (upperBound === undefined) {
        return undefined
      }
      if (typeof upperBound === 'number') {
        if (Number.isInteger(upperBound)) {
          if (upperBound <= this.maxIntBound) {
            return undefined
          } else {
            return 'Upper bound integer value must be ≤ ' + this.maxIntBound
          }
        } else {
          if ((this.minFloatBound <= upperBound) && (upperBound <= this.maxFloatBound)) {
            return undefined
          } else {
            return 'Upper bound floating point value must belong to [' + this.minFloatBound + ', ' + this.maxFloatBound + ']'
          }
        }
      } else {
        return 'Upper bound must be a number'
      }
    },

    validateStep (step) {
      if (step === undefined) {
        return undefined
      }
      if (typeof step === 'number') {
        if (Number.isInteger(step)) {
          if (step >= this.minStep) {
            return undefined
          } else {
            return 'Step must be ≥ ' + this.minStep
          }
        } else {
          return 'Step must be an integer'
        }
      } else {
        return 'Step must be an integer'
      }
    },

    validateAll () {
      this.nameInvalid = this.validateName(this.name)
      // this.seqKindInvalid = this.validateSeqKind(this.seqKind)
      this.fileInvalid = this.validateFile(this.$refs.file.files[0])
      this.constDInvalid = this.validateConstD(this.constD)
      this.constEInvalid = this.validateConstE(this.constE)
      this.multiplierRInvalid = this.validateMultiplierR(this.multiplierR)
      this.constKdInvalid = this.validateConstKd(this.constKd, this.multiplierR)
      this.randomSeqSetsNumberInvalid = this.validateRandomSeqSetsNumber(this.randomSeqSetsNumber)
      this.meanArtificialLengthInvalid = this.validateMeanArtificialLength(this.meanArtificialLength)
      this.dpMatrixWidthInvalid = this.validateDpMatrixWidth(this.dpMatrixWidth)
      this.lowerBoundInvalid = this.validateLowerBound(this.artificialLengthsRange.lowerBound)
      this.upperBoundInvalid = this.validateUpperBound(this.artificialLengthsRange.upperBound)
      this.stepInvalid = this.validateStep(this.artificialLengthsRange.step)
      return (
        (this.nameInvalid === undefined) && (this.fileInvalid === undefined) &&
        (this.constDInvalid === undefined) && (this.constEInvalid === undefined) &&
        (this.multiplierRInvalid === undefined) && (this.constKdInvalid === undefined) &&
        (this.randomSeqSetsNumberInvalid === undefined) && (this.meanArtificialLengthInvalid === undefined) &&
        (this.dpMatrixWidthInvalid === undefined) && (this.lowerBoundInvalid === undefined) &&
        (this.upperBoundInvalid === undefined) && (this.stepInvalid === undefined)
      ) // && (this.drlInvalid === undefined)
    },

    async submitForm (event, taskKind) {
      this.isDisabled = true
      if (this.validateAll() && ((taskKind === 'alignment') || (taskKind === 'assessment'))) {
        const file = this.$refs.file.files[0]
        const response = await this.axios.request({
          method: 'PUT',
          url: '/task',
          data: {
            name: (this.name) ? (this.name) : (taskKind + '_' + file.name),
            kind: taskKind,
            parameters: {
              sequencesType: this.seqKind,
              considerCorrelations: this.considerCorrelations,
              hardSignificanceAssessment: this.hardSignificanceAssessment,
              alignmentType: this.alignmentType,
              constD: this.constD,
              constE: this.constE,
              multiplierR: this.multiplierR,
              constKd: this.constKd,
              dpMatrixWidth: this.dpMatrixWidth,
              randomSeqSetsNumber: this.randomSeqSetsNumber,
              meanArtificialLength: this.meanArtificialLength,
              artificialLengthsRange: {
                lowerBound: this.artificialLengthsRange.lowerBound,
                upperBound: this.artificialLengthsRange.upperBound,
                step: this.artificialLengthsRange.step
              }
            },
            data: await file.text()
          },
          validateStatus: () => true
        })
        const [status, data, errMsg] = this.checkResponse(
          response,
          (status, data) => {
            if (status === 200) {
              if (!('id' in data) || !('store_time' in data)) {
                return 'Got status code 200 on /task but "id" or "store_time" is absent'
              } else {
                this.lastTaskId = data.id
                this.lastTaskStoreTime = data.store_time
                this.loadTasks()
                // this.loadResults()
                return null
              }
            } else {
              return undefined
            }
          },
          this.stdCheck302,
          this.stdCheck401,
          (status, data) => {
            if (status === 403) {
              if ('reason' in data && 'count' in data && 'limit' in data && data.reason === 'count') {
                return 'A user can not place more then ' +
                data.limit +
                ' tasks to queue simultaneously. Please wait until one of your tasks will be completed'
              } else {
                return this.stdCheck403(status, data)
              }
            } else {
              return undefined
            }
          },
          this.stdCheck400,
          this.stdCheck404,
          this.stdCheck500,
          this.stdCheckUnexpected
        )
        if ((errMsg !== undefined) && (errMsg !== null)) {
          this.$store.commit('errHandling/raiseError', this.fullErrMsg(status, data, errMsg))
        }
      }
      this.isDisabled = false
    },

    async deleteTask (taskID) {
      if (window.confirm('Do you really want to cancel/delete the task and the corresponding result (if it already exists)?')) {
        const response = await this.axios.request({
          method: 'DELETE',
          url: '/task',
          data: {
            id: taskID
          },
          validateStatus: () => true
        })
        const [status, data, errMsg] = this.checkResponse(
          response,
          (status, data) => {
            if (status === 200) {
              if (('id' in data) && (data.id === taskID)) {
                this.loadTasks()
                this.loadResults()
                return null
              } else {
                return 'Got status code 200 on DELETE /task but id in response does not correspond to id in request'
              }
            } else {
              return undefined
            }
          },
          this.stdCheck302,
          this.stdCheck401,
          (status, data) => {
            if (status === 403) {
              if (('reason' in data) && (data.reason === 'ownership')) {
                return 'Task/result with such id does not belong to you'
              } else {
                return this.stdCheck403(status, data)
              }
            } else {
              return undefined
            }
          },
          this.stdCheck400,
          this.stdCheck404,
          (status, data) => {
            if (status === 410) {
              // no task, this.task remains undefined
              return null
            } else {
              return undefined
            }
          },
          this.stdCheck500,
          this.stdCheckUnexpected
        )
        if ((errMsg !== undefined) && (errMsg !== null)) {
          this.$store.commit('errHandling/raiseError', this.fullErrMsg(status, data, errMsg))
        }
      }
    },

    async loadTasks () {
      const response = await this.axios.request({
        method: 'GET',
        url: '/task/list',
        validateStatus: () => true
      })
      const [status, data, errMsg] = this.checkResponse(
        response,
        (status, data) => {
          if (status === 200) {
            if (Array.isArray(data)) {
              this.tasks = data
              return null
            } else {
              return 'Got status code 200 on /task/list but data is not an array'
            }
          } else {
            return undefined
          }
        },
        this.stdCheck302,
        this.stdCheck401,
        this.stdCheck403,
        this.stdCheck400,
        this.stdCheck404,
        this.stdCheck500,
        this.stdCheckUnexpected
      )
      if ((errMsg !== undefined) && (errMsg !== null)) {
        this.$store.commit('errHandling/raiseError', this.fullErrMsg(status, data, errMsg))
      }
    },

    async loadResults () {
      const response = await this.axios.request({
        method: 'GET',
        url: '/result/list',
        validateStatus: () => true
      })
      const [status, data, errMsg] = this.checkResponse(
        response,
        (status, data) => {
          if (status === 200) {
            if (Array.isArray(data)) {
              this.results = data
              return null
            } else {
              return 'Got status code 200 on /result/list but data is not an array'
            }
          } else {
            return undefined
          }
        },
        this.stdCheck302,
        this.stdCheck401,
        this.stdCheck403,
        this.stdCheck400,
        this.stdCheck404,
        this.stdCheck500,
        this.stdCheckUnexpected
      )
      if ((errMsg !== undefined) && (errMsg !== null)) {
        this.$store.commit('errHandling/raiseError', this.fullErrMsg(status, data, errMsg))
      }
    }
  },

  mounted () {
    this.loadTasks()
    this.loadResults()
  }
}
</script>
