<template>
  <main class="resultPage">
    <div class="row">
      <div class="col-12 d-flex justify-content-begin pt-4 ps-5">
        <div class="alert alert-secondary fw-normal text-wrap fs-5" v-if="state === undefined">
          Waiting for data from server...
        </div>

        <div class="alert alert-primary fw-normal text-wrap fs-5" v-else-if="state === 'queued'">
          The task is now in queue. Calculations can take sufficient time.<br>
          The page will periodically check the state of the task. You will get the result as soon as it will be ready.
        </div>

        <div class="alert alert-warning fw-normal text-wrap fs-5" v-else-if="state === 'lostOrExpired'">
          The result is expired or deleted.
        </div>

        <div class="alert alert-primary fw-normal text-wrap fs-5" v-else-if="state === 'executing'">
          The task is now being executed. Calculations can take sufficient time.<br>
          The page will periodically check the state of the task. You will get the result as soon as it will be ready.
        </div>

        <div class="alert alert-primary fw-normal text-wrap fs-5" v-else-if="state === 'deleting'">
          The task was canceled and it is being deleted now. Even if its result was ready it will be deleted aswell.
        </div>

        <div class="alert alert-danger fw-normal text-wrap fs-5" v-else-if="state === 'error'">
          An error in calculations has ocurred.
        </div>

        <div class="alert alert-danger fw-normal text-wrap fs-5" v-else-if="state === 'unexpected'">
          Unexpected backend error.
        </div>

        <div v-else-if="state === 'ok'">
          <div class="mb-5">
            <p class="fs-4 fw-normal">Name: {{ result.name }}</p>
            <p class="fs-4 fw-normal">Date: {{ result.date }}</p>
          </div>
          <div class="mb-5">
            <p class="fs-4 fw-normal">F value: {{ resultData.F }}</p>
            <p class="fs-4 fw-normal">Z value: {{ resultData.Z.Z }}</p>
          </div>
          <div class="form-outline mb-5">
            <label class="form-label fs-4 fw-normal" for="resFiles">Download results:</label><br>
            <div id="resFiles" v-if="taskKind === 'alignment'">
              <button-base class="btn btn-success btn-lg" @click="download(result.data, result.name + '.yaml')">
                Full MSA data in YAML format
              </button-base>
              <button-base class="btn btn-success btn-lg ms-3" @click="download(toFASTA(resultData.multipleAlignmentExtended, 80), result.name + '.fasta')">
                MSA in FASTA format
              </button-base>
            </div>
            <div id="resFiles" v-else-if="taskKind === 'assessment'">
              <button-base class="btn btn-success btn-lg" @click="download(result.data, result.name + '.yaml')">
                Assessment data in YAML format
              </button-base>
            </div>
          </div>
          <div class="form-outline mb-4" v-if="taskKind === 'alignment'">
            <p class="fs-4 fw-normal">Multiple sequence alignment:</p>
            <div class="p-3 border border-3">
              <p class="fs-5 font-monospace fasta">{{ toFASTA(resultData.multipleAlignmentExtended, 80) }}</p>
            </div>
          </div>
          <div class="alert alert-danger fw-normal text-wrap fs-5" v-else-if="taskKind !== 'assessment'">
            Unexpected task kind: {{ taskKind }}
          </div>
        </div>

        <div class="alert alert-danger fw-normal text-wrap fs-5" v-else>
          Unexpected frontend error.
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import ResponseMixin from '@/mixins/ResponseMixin'
import ButtonBase from '@/components/ButtonBase.vue'
// import JSZip from 'jszip'
import saveAs from 'file-saver'
import yaml from 'js-yaml'
// const yaml = require('js-yaml')

export default {
  name: 'ResultView',
  mixins: [ResponseMixin],
  components: { ButtonBase },
  data () {
    return {
      result: undefined,
      resultData: undefined, // object from parsed yaml
      taskKind: undefined,
      task: undefined,
      state: undefined,

      reloadDeletingTime: 10,
      reloadExecutingTime: 10,
      reloadQueuedTime: 20
    }
  },
  methods: {
    async sleep (sec) {
      return new Promise(resolve => setTimeout(resolve, sec * 1000))
    },

    async waitResult () {
      while (true) {
        if (this.$route.name !== 'ResultView') {
          break
        }
        await this.loadTask()
        if (this.$route.name !== 'ResultView') {
          break
        }
        if (this.task === undefined) {
          this.state = 'lostOrExpired'
          break
        } else if (this.task.status === 'queued') {
          this.state = 'queued'
          await this.sleep(this.reloadQueuedTime)
          continue
        } else if (this.task.status === 'executing') {
          this.state = 'executing'
          await this.sleep(this.reloadExecutingTime)
          continue
        } else if (this.task.status === 'deleting') {
          this.state = 'deleting'
          await this.sleep(this.reloadDeletingTime)
          continue
        } else if (this.task.status === 'done') {
          this.taskKind = this.task.kind
          if (this.$route.name !== 'ResultView') {
            break
          }
          await this.loadResult()
          if (this.$route.name !== 'ResultView') {
            break
          }
          if (this.result === undefined) {
            this.state = 'unexpected'
          } else if (this.result.status === 'ok') {
            this.state = 'ok'
            this.resultData = yaml.load(this.result.data)
          } else if (this.result.status === 'error') {
            this.state = 'error'
          } else {
            this.state = 'unexpected'
          }
          break
        } else {
          this.state = 'unexpected'
          break
        }
      }
    },

    async loadResult () {
      const id = parseInt(this.$route.params.id)
      if (this.$route.name !== 'ResultView') {
        return
      }
      const response = await this.axios.request({
        method: 'POST',
        url: '/result/fetch',
        data: {
          id: id
        },
        validateStatus: () => true
      })
      const [status, data, errMsg] = this.checkResponse(
        response,
        (status, data) => {
          if (status === 200) {
            if (('id' in data) && ('name' in data) && ('date' in data) && ('status' in data)) {
              this.result = data
              return null
            } else {
              return 'Got status code 200 on /result/fetch but "id" or "name" or "date" or "status" is absent'
            }
          } else {
            return undefined
          }
        },
        this.stdCheck302,
        this.stdCheck401,
        (status, data) => {
          if (status === 403) {
            if (('reason' in data) && (data.reason === 'ownership')) {
              return 'Task/result with such id does not belong to you'
            } else {
              return this.stdCheck403(status, data)
            }
          } else {
            return undefined
          }
        },
        this.stdCheck400,
        this.stdCheck404,
        (status, data) => {
          if (status === 410) {
            // no result, this.result remains undefined
            this.result = undefined
            return null
          } else {
            return undefined
          }
        },
        this.stdCheck500,
        this.stdCheckUnexpected
      )
      if ((errMsg !== undefined) && (errMsg !== null)) {
        this.$store.commit('errHandling/raiseError', this.fullErrMsg(status, data, errMsg))
      }
    },

    async loadTask () {
      const id = parseInt(this.$route.params.id)
      if (this.$route.name !== 'ResultView') {
        return
      }
      const response = await this.axios.request({
        method: 'POST',
        url: '/task/fetch',
        data: {
          id: id,
          needParameters: false,
          needData: false
        },
        validateStatus: () => true
      })
      const [status, data, errMsg] = this.checkResponse(
        response,
        (status, data) => {
          if (status === 200) {
            if (('id' in data) && ('name' in data) && ('date' in data) && ('status' in data)) {
              this.task = data
              return null
            } else {
              return 'Got status code 200 on /task/fetch but "id" or "name" or "date" or "status" is absent'
            }
          } else {
            return undefined
          }
        },
        this.stdCheck302,
        this.stdCheck401,
        (status, data) => {
          if (status === 403) {
            if (('reason' in data) && (data.reason === 'ownership')) {
              return 'Task/result with such id does not belong to you'
            } else {
              return this.stdCheck403(status, data)
            }
          } else {
            return undefined
          }
        },
        this.stdCheck400,
        this.stdCheck404,
        (status, data) => {
          if (status === 410) {
            // no task, this.task remains undefined
            this.task = undefined
            return null
          } else {
            return undefined
          }
        },
        this.stdCheck500,
        this.stdCheckUnexpected
      )
      if ((errMsg !== undefined) && (errMsg !== null)) {
        this.$store.commit('errHandling/raiseError', this.fullErrMsg(status, data, errMsg))
      }
    },

    download (d, n) {
      const data = new Blob([d], { type: 'text/plain;charset=UTF-8' })
      saveAs(data, n)
    },

    toFASTA (maObj, colsN) {
      // maObj[x] fields: name, [comment], "sequence"
      const reArtifSeq = /.*artificial\s*pivot\s*sequence.*/i
      let res = ''
      for (const record of maObj) {
        if (reArtifSeq.test(record.name)) {
          continue // skip artificial sequence
        }
        let curRes = ('>' + record.name)
        if ('comment' in record) {
          curRes += (' ' + record.comment)
        }
        let spSeq = ''
        let begin = 0
        while (true) {
          const end = ((begin + colsN) > record.sequence.length) ? record.sequence.length : (begin + colsN)
          spSeq += (record.sequence.slice(begin, end) + '\n')
          begin += colsN
          if (begin >= record.sequence.length) {
            break
          }
        }
        curRes += '\n'
        curRes += spSeq
        res += curRes
      }
      return res
    }
  },

  mounted () {
    this.waitResult()
  }
}
</script>

<style scoped>
p.fasta {
  white-space: pre-wrap;
}
</style>
